[submodule "ext/graphMat"]
	path = ext/graphMat
	url = https://github.com/adi-g15/graphMat
[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/mitsuba-renderer/nanogui.git
[submodule "ext/utilpp"]
	path = ext/utilpp
	url = https://github.com/adi-g15/utilpp
[submodule "ext/quill"]
	path = ext/quill
	url = https://github.com/odygrd/quill
